@mixin box($width, $height, $padding, $border_radius) {
    width: 100%;
    max-width: $width;
    height: $height;
    padding: $padding;
    border-radius: $border_radius;
}

@mixin flexbox($direction, $wrap, $gap) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    gap: $gap;
}